.card__overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    transition: background-color .1s ease-in-out;
}

.card__overlay_hovered {
    bottom: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    opacity: 0.75;
}

@media only screen and (max-width: 600px) {
    .card__overlay {
        position: static;
    }

    .card__overlay_hovered {
        position: absolute;
    }
}